@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding-top: 65px;
}

a.active{
    background-color: black;
    padding: 3px 8px;
    border-radius: 5px;
}

:root {
    --body-background: white;
    --title: black;
    --primary: blue;
}

[data-theme='light'] {
    --body-background: white;
    --title: black;
    --primary: blue;
}

[data-theme='dark'] {
    --body-background: rgb(52, 52, 52);
    --title: white;
    --primary: rgb(97, 97, 255);
}